.App {
  text-align: center;


}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.Content {
   filter: blur(8px)
}


.Modal {

  position: fixed;
  top: 3%;

  padding: 20px;
margin-right: 30px;
margin-left: 30px;
  background-color: #49515F;
  box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75);
}
.Modal > img {

  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 0px;
  max-height: 500px;
}

.Modal > button, a > button {
  background-color: #49515F;
  color: white;
  height: 50px;
  border-color: #49515F;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 10px;

}

img {
  border-radius: 10px;
  margin-left: 10px;
}

p {
  font-size: 20px;
}

p > a, a:visited {
  color: white;
}

.small {
  margin-top: -5px;
  font-size: 12px;
}

.Search-field
{
  padding: 20px;
  font-size: 50px;
  border-radius: 10px;
  color: grey;
  flex-shrink: 1
}

@media (max-width: 1023px)
{
  .Search-field {
      font-size: 30px;
  }
}

@media(max-width: 600px)
{


  .Modal {
    top: 20%;
      right: 3%;
  }
}
